# BUSINESS CASE
## Part 1 - Prepare Data for Exploration & Process Data from Dirty to Clean

## 1) Data preparation

### 1.1) Setting up the environment

In [1]:
# Import những thư viện cần thiết
import pandas as pd
import datetime

### 1.2) Reading the data

In [2]:
# Đọc dữ liệu vào dataframe
df=pd.read_excel(r"C:\Users\VLN\Documents\Project_BusinessCase\data.xlsx")
df

,Số lượng đơn hàng theo khách hàng và theo ngày tạo đơn hàng,create_date,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100
0,visitor_id,43770,43771,43772,43773,43774,43775,43776,43777,43778,...,43860,43861,43862,43863,43864,43865,43866,43867,43868,43869
1,//02MonW5iVsFHTYioKFKD3J+v0=,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,//0Tw4uLP4F+KxJiH1MxeipBtlc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,//1B47ThoPLHFC+ISAeK5lpiquc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,//ioYjFoyckJezLI/waPP7iCqtg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39436,ZzvqjNiAiYOCnkxl27mQEL1PbZk=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39437,zzWdLg/Dyw9eyko6k+ZSDUuTio0=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39438,zzxiPB4vtRlO3eKR9TsP2+iQapc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39439,ZzxNkankvZpO6O7TFz4wNb0KE3E=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39440,Khách vãng lai,2889,2489,2684,2363,2235,2254,1965,1949,1656,...,887,1076,836,801,1036,993,1089,858,907,769

## 2) Process Data from Dirty to Clean

### 2.1) Data Transformation

In [3]:
# Sử dụng dòng đầu tiên làm Header
df.columns=df.iloc[0]
df=df[1:]
df

,visitor_id,43770,43771,43772,43773,43774,43775,43776,43777,43778,...,43860,43861,43862,43863,43864,43865,43866,43867,43868,43869
1,//02MonW5iVsFHTYioKFKD3J+v0=,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,//0Tw4uLP4F+KxJiH1MxeipBtlc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,//1B47ThoPLHFC+ISAeK5lpiquc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,//ioYjFoyckJezLI/waPP7iCqtg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,//iPpNBcKX2/VuN7RTBSbDP9yBg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39436,ZzvqjNiAiYOCnkxl27mQEL1PbZk=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39437,zzWdLg/Dyw9eyko6k+ZSDUuTio0=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39438,zzxiPB4vtRlO3eKR9TsP2+iQapc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39439,ZzxNkankvZpO6O7TFz4wNb0KE3E=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39440,Khách vãng lai,2889,2489,2684,2363,2235,2254,1965,1949,1656,...,887,1076,836,801,1036,993,1089,858,907,769

In [4]:
# Unpivot a dataframe
df_unpivoted = df.melt(id_vars=['visitor_id'], var_name='create_date', value_name='Number_of_Orders')
df_unpivoted

                           visitor_id create_date  Number_of_Orders
0        //02MonW5iVsFHTYioKFKD3J+v0=       43770                 0
1        //0Tw4uLP4F+KxJiH1MxeipBtlc=       43770                 0
2        //1B47ThoPLHFC+ISAeK5lpiquc=       43770                 0
3        //ioYjFoyckJezLI/waPP7iCqtg=       43770                 0
4        //iPpNBcKX2/VuN7RTBSbDP9yBg=       43770                 0
...                               ...         ...               ...
3943995  ZzvqjNiAiYOCnkxl27mQEL1PbZk=       43869                 0
3943996  zzWdLg/Dyw9eyko6k+ZSDUuTio0=       43869                 0
3943997  zzxiPB4vtRlO3eKR9TsP2+iQapc=       43869                 0
3943998  ZzxNkankvZpO6O7TFz4wNb0KE3E=       43869                 0
3943999                Khách vãng lai       43869               769

[3944000 rows x 3 columns]

In [5]:
# Hiển thị một số thông tin cơ bản
df_unpivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3944000 entries, 0 to 3943999
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   visitor_id        object
 1   create_date       object
 2   Number_of_Orders  int64
dtypes: int64(1), object(2)
memory usage: 90.3+ MB

In [6]:
# Tạo thêm 1 cột 'create_date_new_format' để quy đổi cột 'create_date' giá trị từ 43770 đến 43869 sang 11/1/2019 đến 2/8/2020
dict={}
create_date_unique=df_unpivoted['create_date'].unique()
date=datetime.date(month=11,day=1,year=2019)
time_delta=datetime.timedelta(days=1)
for key in create_date_unique:
    dict[key]=str(date)
    date+=time_delta

create_date_unique=[]
for index in df_unpivoted.index:
    create_date_unique.append(dict[df_unpivoted['create_date'][index]])
df_unpivoted['create_date_new_format']=create_date_unique

df_unpivoted

,visitor_id,create_date,Number_of_Orders,create_date_new_format
0,//02MonW5iVsFHTYioKFKD3J+v0=,43770,0,2019-11-01
1,//0Tw4uLP4F+KxJiH1MxeipBtlc=,43770,0,2019-11-01
2,//1B47ThoPLHFC+ISAeK5lpiquc=,43770,0,2019-11-01
3,//ioYjFoyckJezLI/waPP7iCqtg=,43770,0,2019-11-01
4,//iPpNBcKX2/VuN7RTBSbDP9yBg=,43770,0,2019-11-01
...,...,...,...,...
3943995,ZzvqjNiAiYOCnkxl27mQEL1PbZk=,43869,0,2020-02-08
3943996,zzWdLg/Dyw9eyko6k+ZSDUuTio0=,43869,0,2020-02-08
3943997,zzxiPB4vtRlO3eKR9TsP2+iQapc=,43869,0,2020-02-08
3943998,ZzxNkankvZpO6O7TFz4wNb0KE3E=,43869,0,2020-02-08
3943999,Khách vãng lai,43869,769,2020-02-08

## 2.2) Cleaning data

In [7]:
# Xoá cột create_date (vì đã thay thế bằng cột 'create_date_new_format')
df_unpivoted=df_unpivoted.drop(labels='create_date',axis=1 )

# Đặt lại tên cho cột 'create_date_new_format' là 'create_date'
df_unpivoted=df_unpivoted.rename(columns={'create_date_new_format':'create_date'})
df_unpivoted

                           visitor_id  Number_of_Orders create_date
0        //02MonW5iVsFHTYioKFKD3J+v0=                 0  2019-11-01
1        //0Tw4uLP4F+KxJiH1MxeipBtlc=                 0  2019-11-01
2        //1B47ThoPLHFC+ISAeK5lpiquc=                 0  2019-11-01
3        //ioYjFoyckJezLI/waPP7iCqtg=                 0  2019-11-01
4        //iPpNBcKX2/VuN7RTBSbDP9yBg=                 0  2019-11-01
...                               ...               ...         ...
3943995  ZzvqjNiAiYOCnkxl27mQEL1PbZk=                 0  2020-02-08
3943996  zzWdLg/Dyw9eyko6k+ZSDUuTio0=                 0  2020-02-08
3943997  zzxiPB4vtRlO3eKR9TsP2+iQapc=                 0  2020-02-08
3943998  ZzxNkankvZpO6O7TFz4wNb0KE3E=                 0  2020-02-08
3943999                Khách vãng lai               769  2020-02-08

[3944000 rows x 3 columns]

### 2.3) Save the file

In [8]:
# Lưu lại file data vừa chỉnh sửa xong
df_unpivoted.to_csv(r"C:\Users\VLN\Documents\Project_BusinessCase\edited_data_file.csv",index=False)

## PART 2 - Ask Questions to Make Data-Driven Decisions

## 1) Reading the data

In [9]:
# Đọc dữ liệu vào dataframe
data=pd.read_csv(r"C:\Users\VLN\Documents\Project_BusinessCase\edited_data_file.csv")
visitor_info=pd.read_csv(r"C:\Users\VLN\Documents\Project_BusinessCase\visitor_information.csv")

## 2) Kiểm tra xem tất cả các id trong file data đều có trong file visitor_information hay không ?

In [10]:
# Tạo list đặt tên là visitor_only chứa những visitor_id có trong file data nhưng không có trong file visitor_information
# lưu ý: 'visitor_only' là những khách hàng chỉ ghé nhưng chưa mua hàng & 'buyer' là những khách hàng đã mua hàng
visitor_only=[]
temp=data['visitor_id'].unique()
for element in visitor_info['visitor_id'].unique():
    if element not in temp:
        visitor_only.append(element)

In [13]:
nO_visitor_only= len(visitor_only)
nO_buyer=len(temp)

print('Number of visitor_only: ' + str(nO_visitor_only))
print('Number of buyer: '+ str(nO_buyer))


total_visitorOnlyBuyer=nO_visitor_only+nO_buyer
nO_visitor_id_Info=len(visitor_info['visitor_id'].unique())

# So sánh để tìm xem có id nào không nằm trong file visitor_information không
print('Number of visitor_only + buyer: '+ str(total_visitorOnlyBuyer))
print('Number of visitor_id in file visitor_information: '+str(nO_visitor_id_Info))
delta=total_visitorOnlyBuyer-nO_visitor_id_Info
print('Difference between the two numbers above: '+str(delta))

Number of visitor_only: 86964
Number of buyer: 39440
Number of visitor_only + buyer: 126404
Number of visitor_id in file visitor_information: 126403
Difference between the two numbers above: 1

In [14]:
# Sau khi so sánh thì có 1 id bị lệch và id đó nằm ở trong file data
# Kiểm tra xem id bị lệch đó là id nào ? 
a=[]
for element in data['visitor_id'].unique():
    if element not in visitor_info['visitor_id'].unique():
        a.append(element)
a

['Khách vãng lai']

## 3) Kiểm tra xem có phải những visitor_id trong file data đều đã mua hàng ít nhất 1 lần ?

<strong> Bước 1.</strong>  Sắp xếp bảng data theo thứ tự tăng dần của id, mỗi id sẽ tạo thành 1 khối 100 ngày <br>
<br>
<strong> Bước 2.</strong> Thống kê số lượng đơn hàng của từng id trong 100 ngày (nhóm các id lại và tính tổng đơn hàng của từng id)<br>
<br>
<strong> Bước 3.</strong> Sử dụng vòng lặp for để loop qua từng dòng trong bảng data <br>
Nếu số lượng đơn hàng = 0 thì print ra. Ngược lại, nếu không có gì được print ra thì chứng tỏ mọi Id trong file data đã mua hàng ít nhất 1 lần
<br>

In [19]:
data_sort=data.sort_values(by=['visitor_id', 'create_date'],ascending=[True,True],ignore_index=True)
data_sort

                           visitor_id  Number_of_Orders create_date
0        ++DZ24GqVhNE0Bl7f3Zp06lWjj4=                 0  2019-11-01
1        ++DZ24GqVhNE0Bl7f3Zp06lWjj4=                 0  2019-11-02
2        ++DZ24GqVhNE0Bl7f3Zp06lWjj4=                 0  2019-11-03
3        ++DZ24GqVhNE0Bl7f3Zp06lWjj4=                 0  2019-11-04
4        ++DZ24GqVhNE0Bl7f3Zp06lWjj4=                 0  2019-11-05
...                               ...               ...         ...
3943995  zzxiPB4vtRlO3eKR9TsP2+iQapc=                 0  2020-02-04
3943996  zzxiPB4vtRlO3eKR9TsP2+iQapc=                 0  2020-02-05
3943997  zzxiPB4vtRlO3eKR9TsP2+iQapc=                 0  2020-02-06
3943998  zzxiPB4vtRlO3eKR9TsP2+iQapc=                 0  2020-02-07
3943999  zzxiPB4vtRlO3eKR9TsP2+iQapc=                 0  2020-02-08

[3944000 rows x 3 columns]

In [20]:
data_group_id=data_sort.groupby(by='visitor_id').sum('Number_of_Orders')
data_group_id=data_group_id.reset_index(level=['visitor_id'])
data_group_id

                         visitor_id  Number_of_Orders
0      ++DZ24GqVhNE0Bl7f3Zp06lWjj4=                 2
1      ++HN809MR7t8V9QmdOEA36NubfI=                 2
2      ++J4GEqZUrL8Rf7XrURsNNt6KPw=                 1
3      ++P59XK9q+K1acy8MeRVzfrfOz0=                 5
4      ++RP+syfDvZiTf/Pmov3PdEeFWM=                 3
...                             ...               ...
39435  zz4YKQwMrdb6za9UWGnbxWHcLZY=                 6
39436  zzGUju7RRo8FrQOIOmNM9vgwuns=                 1
39437  zzURsuIJlSzPj3lOz19YWU1VMrE=                 1
39438  zzWdLg/Dyw9eyko6k+ZSDUuTio0=                 2
39439  zzxiPB4vtRlO3eKR9TsP2+iQapc=                 1

[39440 rows x 2 columns]

In [23]:
for i in range(0,39440,1):
    if data_group_id['Number_of_Orders'][i] == 0:
        print(data_group_id.loc[i])